.Widget {
  h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: grey;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2:hover {
    color: var(--primary-text-color, black);
    transform: translate(-50%, -50%) scale(1.03);
    animation: animate 0.5s linear infinite;
  }
}