.Card-Ee0Dff7436cD4009676a908cEfD6cd5C {
  .youtube-card-bg {
    background: linear-gradient(119.46deg, #ff3434 0%, #890000 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .text {
      justify-self: center;
      align-self: center;
      color: white;
      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 2.5em;
        font-weight: 800;
        line-height: 1.2em;
      }
    }
    #most-popular {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
