.Tip {
  min-width: 300px;
  border-radius: 0 20px 20px 20px;
  height: 90%;
  padding: 15px 20px;
  // background: linear-gradient(180deg, #FFAE34 0%, #F94E83 100%);
  background-color: var(--secondary-bg);
  color: var(--primary-text-color);
  img {
    margin-right: 5px;
  }
}