.BreakPage {
  .toast {
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    // background-color: #546FFF;
    background: linear-gradient(100deg, #ffae34 0%, #f95584 100%);
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    // border: solid orange 1px;
    min-width: 300px;
    .header {
      border-bottom: solid white 1px;
      padding-bottom: 5px;
    }
    .playnow {
      color: white;
      cursor: pointer;
    }
    .playnow:hover {
      
      color: black; 
      text-decoration: underline;
    }
  }

  --page-margin: 30px;

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    
    padding-top: 10px;
    margin-top: 70px;
    margin-right: var(--page-margin);
    
    height: calc(100vh - 70px);
    overflow: auto;

    .NEXT {
      display: flex;
      justify-content: space-between;
      
      color: var(--secondary-text-color, grey);
      font-size: 0.9em;
      margin-bottom: -5px;
    }
    .next-card {
      margin: 20px;

      &::after {
        content: '';
        border-bottom: solid 1px var(--secondary-bg);
      }
    }
    .cards {
      display: grid;
      grid-template-columns: 302px;
      grid-gap: 10px;

      margin: 10px 2px;
      letter-spacing: -1.5px;
    }
    .importedCard:hover {
      margin-bottom: 50px;
    }
  }

  .page-content {
    margin: 0 var(--page-margin);
    
    .main-content {
      margin-right: 306px + 10px;
    }

  }
}