.BreakPage .toast {
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  background: linear-gradient(100deg, #ffae34 0%, #f95584 100%);
  padding: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-width: 300px;
}

.BreakPage .toast .header {
  border-bottom: solid white 1px;
  padding-bottom: 5px;
}

.BreakPage .toast .playnow {
  color: white;
  cursor: pointer;
}

.BreakPage .toast .playnow:hover {
  color: black;
  text-decoration: underline;
}

.BreakPage .page-content {
  height: calc(100vh - 73px);
  overflow: hidden;
  margin: 0 30px;
}

.BreakPage .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main sidebar" "main sidebar";
  -ms-grid-rows: 1fr 150px;
      grid-template-rows: 1fr 150px;
  -ms-grid-columns: minmax(600px, auto) calc(306px);
      grid-template-columns: minmax(600px, auto) calc(306px);
  grid-gap: 15px;
}

.BreakPage .grid-container .main-content {
  padding-top: 13px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: main;
  height: calc(100vh - 69px);
  overflow-y: scroll;
}

.BreakPage .grid-container .sidebar {
  padding-top: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: sidebar;
  height: calc(100vh - 69px);
  overflow-y: scroll;
}

.BreakPage .grid-container .sidebar .NEXT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--secondary-text-color, grey);
  font-size: 0.9em;
  margin-bottom: -5px;
}

.BreakPage .grid-container .sidebar .next-card {
  margin: 20px;
}

.BreakPage .grid-container .sidebar .next-card::after {
  content: '';
  border-bottom: solid 1px var(--secondary-bg);
}

.BreakPage .grid-container .sidebar .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 302px;
      grid-template-columns: 302px;
  grid-gap: 10px;
  margin: 10px 2px;
  letter-spacing: -1.5px;
}

.BreakPage .grid-container .sidebar .importedCard:hover {
  margin-bottom: 50px;
}

.BreakPage ::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .BreakPage .page-content {
    overflow: visible;
  }
  .BreakPage .grid-container {
        grid-template-areas: "main main" "sidebar sidebar";
    -ms-grid-rows: 1fr 300px;
        grid-template-rows: 1fr 300px;
    -ms-grid-columns: minmax(302px, auto) 306px;
        grid-template-columns: minmax(302px, auto) 306px;
  }
  .BreakPage .grid-container .tips-n-tricks {
    height: 100%;
    overflow: visible;
  }
  .BreakPage .grid-container .sidebar {
    padding: 0;
    height: 100%;
    overflow: visible;
  }
}

@media only screen and (max-width: 500px) {
  .BreakPage .page-content {
    overflow: visible;
  }
  .BreakPage .grid-container {
        grid-template-areas: "main" "main" "sidebar";
    -ms-grid-rows: calc(100vh - 300px) auto auto;
        grid-template-rows: calc(100vh - 300px) auto auto;
  }
  .BreakPage .grid-container .imported-widget {
    height: calc(100vh - 300px);
  }
  .BreakPage .grid-container .tips-n-tricks {
    height: 100%;
    overflow: visible;
  }
  .BreakPage .grid-container .sidebar {
    padding: 0;
    height: 100%;
    overflow: visible;
  }
}
/*# sourceMappingURL=BreakPage.css.map */