.tiktok-card-template {
  .tiktok-card-bg {
    background: linear-gradient(119.38deg, #77EAE7 0%, #B93547 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .text {
      justify-self: center;
      align-self: center;
      color: white;
      transform: translateY(-25%);
      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 2.5em;
        font-weight: 800;
        line-height: 1.2em;
      }
      .subname {
        position: absolute;
        top: calc(50% + 1.2em + 15px);
        left: 50%;
        transform: translate(-50%, -50%);
        .tiktok-logo {
          height: 30px;
        }
      }
    }
  }
  .tiktok-card-bg:hover {
    background: black;
    animation: animate 0.5s linear infinite;
    .subname {
      .tiktok-logo {
        animation: animateLogo 0.5s linear infinite;
      }
    }
  }
  .tiktok-card-fg {
    position: absolute;
    .overlay {
      position: absolute;
      background: none;
      height: 100%;
      width: 100%;
    }
  }
}

@keyframes animate {
  0%, 100%{
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
  }
  25%{
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
  }
  50%{
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
  }
  75%{
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
  }
  33% {
    text-shadow: 4px 1.5px 0 #0ff, -1.5px -4px 0 #f00;
  }
}
@keyframes animateLogo {
  0%, 100%{
    filter: drop-shadow( -1.5px -1.5px 0 #0ff);
  }
  25%{
    filter: drop-shadow( 1.5px 1.5px 0 #f00);
  }
  50%{
    filter: drop-shadow( 1.5px -1.5px 0 #0ff);
  }
  75%{
    filter: drop-shadow( -1.5px 1.5px 0 #f00);
  }
  33% {
    filter: drop-shadow( 4px 1.5px 0 #0ff);
  }
}