.Classic-Widget {
  width: 100%;
  .classic-widget-content {
    display: flex;
    position: relative;
    min-height: 50vh;
    height: calc(100vh - 70px - 150px);
    margin-bottom: 10px;

    h1 {
      color: var(--secondary-text-color);
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .Timer {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6em;
      line-height: 1em;
      font-weight: 800;
      user-select: none;
    }
  }
}
