.youtube-card-template {
  .youtube-card-bg {
    background: linear-gradient(119.46deg, #FF3434 0%, #890000 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .text {
      justify-self: center;
      align-self: center;
      color: white;
      transform: translateY(-25%);
      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 2.5em;
        font-weight: 800;
        line-height: 1.2em;
      }
      .subname {
        position: absolute;
        top: calc(50% + 1.2em + 13px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .youtube-card-fg {
    position: absolute;
    .home {
      position: absolute;
      background: none;
      height: 100%;
      width: 100%;
    }
  }
}