.yt-template-widget {
  width: 100%;
    
  .wrapper {
    position: relative;
    min-width: 200px;
    width: 100%;

    margin-bottom: 10px;
    
    .Tooltip {
      position: absolute;
      z-index: 2000;
      right: -150px;
      top: -5px;
      .bubble {
        background: blue;
      }
    }

    .content {
      position: absolute;
      min-height: 200px;
      height: 100%;
      width: 100%;
    }

    &:after {
      content: '';
      display: block;
      padding-top: calc(100% / (16/9));
    }
  }
}