.IndexPage {
  color: var(--primary-text-color);
}

.IndexPage #welcome {
  padding-top: 30px;
  height: 80vh;
}

.IndexPage #welcome #welcome-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: -30px;
  z-index: 2;
}

.IndexPage #welcome #welcome-box h1 {
  font-size: 3.5em;
  font-weight: 900;
}

.IndexPage #welcome #welcome-box p {
  font-size: 1.7em;
}

.IndexPage #welcome #welcome-box a {
  color: orange;
}

.IndexPage #welcome #welcome-box #try-btn {
  font-size: 1.1em;
  font-weight: 550;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#F9A826), to(#FF4E8D));
  background: linear-gradient(90deg, #F9A826 0%, #FF4E8D 100%);
  border: solid orange 1px;
  padding: 10px 30px;
  border-radius: 200px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.IndexPage #welcome #welcome-box #try-btn:hover {
  background: none;
  color: orange;
  border: solid orange 1px;
}

.IndexPage #welcome #illustration {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  width: 100%;
  position: relative;
  z-index: 1;
}

.IndexPage #how-it-works {
  background: linear-gradient(230.67deg, #FCB44F 0%, #FF4E8D 125.19%), #6892FF;
  position: relative;
  top: -100px;
  z-index: -1;
}

.IndexPage #how-it-works .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-items: center;
  grid-column-gap: 100px;
  margin: 0 auto -150px auto;
}

.IndexPage #how-it-works .logos .YouTube {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.IndexPage #how-it-works .logos .TikTok {
  width: 120%;
}

.IndexPage #how-it-works .logos .Reddit {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.IndexPage #how-it-works .logos .more {
  color: white;
  font-size: 2.3em;
  font-weight: 900;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.IndexPage #how-it-works .content {
  padding-top: 200px;
  position: relative;
  color: white;
}

.IndexPage #how-it-works .content h1 {
  font-size: 3.5em;
  font-weight: 900;
  margin-bottom: 20px;
}

.IndexPage #how-it-works .content p {
  font-size: 1.4em;
}

.IndexPage #steps {
  padding-bottom: 50px;
}

.IndexPage #steps .steps {
  background-color: white;
  padding: 15px;
  border-radius: 0px 15px 15px 15px;
  margin-bottom: 50px;
  color: black;
}

.IndexPage #steps .steps h3 {
  font-weight: 550;
}

.IndexPage #steps .steps p {
  font-size: 1.2em;
  width: 100%;
}

.IndexPage #steps .steps img {
  width: 100%;
}

.IndexPage #steps .point-system {
  color: white;
}

.IndexPage #steps .point-system h1 {
  font-size: 2em;
  font-weight: 900;
}

.IndexPage #steps .point-system p {
  font-size: 1.4em;
}

.IndexPage #steps .point-system img {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.IndexPage .logo-seperator {
  background-color: #6892ff;
  padding: 25px 20%;
  margin-bottom: 10px;
}

.IndexPage .logo-seperator img {
  height: 60px;
  position: relative;
  top: calc(50% - 100px / 2 + 193.5px);
}

.IndexPage .logo-seperator span {
  font-size: 1.5em;
  color: white;
  position: relative;
  top: 8px;
}

.IndexPage .seperator {
  background-color: lightgrey;
  padding: 25px 0;
}

.IndexPage .seperator h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
}

.IndexPage #try-now {
  position: relative;
  min-height: 100vh;
}

.IndexPage #try-now .right-text {
  position: relative;
  right: 0;
  text-align: right;
}

.IndexPage #try-now .right-text h1 {
  font-weight: 900;
  font-size: 4em;
}

.IndexPage #try-now .right-text h2 {
  font-weight: 700;
  font-size: 2em;
}

.IndexPage #try-now .superman {
  height: 80%;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.IndexPage .widgets {
  width: 70%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (302px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 302px);
  justify-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  left: 30%;
  z-index: 100;
}

.IndexPage .widgets .widget {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.IndexPage .widgets .widget:hover {
  margin-bottom: 50px;
}

.IndexPage footer {
  background-color: orange;
  padding: 25px;
}

.IndexPage footer #logo {
  position: relative;
  top: 25%;
  height: 50px;
}

.IndexPage footer .columns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.IndexPage footer ul {
  list-style-type: none;
}

.IndexPage footer ul a {
  color: black;
}

@media only screen and (max-width: 1000px) {
  .IndexPage .logos {
    padding-top: 80px;
  }
}
/*# sourceMappingURL=IndexPage.css.map */