.IndexPage {
  color: var(--primary-text-color);
  #welcome {
    padding-top: 30px;
    height: 70vh;
    #welcome-box {
      align-self: center;
      position: relative;
      top: -30px;
      z-index: 2;
      h1 {
        font-size: 3.5em;
        font-weight: 900;
      }
      p {
        font-size: 1.7em;
      }
      a {
        color: orange;
      }
      #try-btn {
        font-size: 1.1em;
        font-weight: 550;
        color: white;
        background: linear-gradient(90deg, #F9A826 0%, #FF4E8D 100%);;
        border: solid orange 1px;
        padding: 10px 30px;
        border-radius: 200px;
        transition: all 0.3s;
      }
      #try-btn:hover {
        background: none;
        color: orange;
        border: solid orange 1px;
      }
    }
    #illustration {
      transform-origin: right;
      transform: scale(1.3);
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
  #how-it-works {
    background: linear-gradient(230.67deg, #FCB44F 0%, #FF4E8D 125.19%), #6892FF;;
    // padding-bottom: 450px;
    // margin-bottom: -450px;
    position: relative;
    top: -100px;
    z-index: -1;
    .logos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, auto));
      justify-items: center;
      grid-column-gap: 100px;
      margin: 0 auto -150px auto;
      .YouTube {
        width: 90%;
        align-self: center;
      }
      .TikTok {
        width: 120%;
      }
      .Reddit {
        width: 90%;
        align-self: center;
      }
      .more {
        color: white;
        font-size: 2.3em;
        font-weight: 900;
        align-self: center;
      }
    }
    .content {
      padding-top: 200px;
      position: relative;
      color: white;
      h1 {
        font-size: 3.5em;
        font-weight: 900;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.4em;
      }
    }
  }
  #steps {
    // margin-top: 150px;
    padding-bottom: 50px;
    // background: linear-gradient(230.67deg, #FCB44F 0%, #FF4E8D 125.19%), #6892FF;;
    .steps {
      background-color: white;
      padding: 15px;
      // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      border-radius: 0px 15px 15px 15px;
      margin-bottom: 50px;
      color: black;
      h3 {
        font-weight: 550;
      }
      p {
        font-size: 1.2em;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .point-system {
      color: white;
      h1 {
        font-size: 2em;
        font-weight: 900;
      }
      p {
        font-size: 1.4em;
      }
      img {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
  .logo-seperator {
    position: relative;
    top: -100px;
    background-color: #6892ff;
    padding: 25px 20%;
    margin-bottom: 10px;
    img {
      height: 60px;
      position: relative;
      top: calc(50% - 100px / 2 + 193.5px);
    }
    span {
      font-size: 1.5em;
      color: white;
      position: relative;
      top: 8px;
    }
  }
  .seperator {
    background-color: lightgrey;
    padding: 25px 0;
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 4em;
    }
  }
  #try-now {
    position: relative;
    min-height: 100vh;
    .right-text {
      position: relative;
      right: 0;
      text-align: right;
      h1 {
        font-weight: 900;
        font-size: 4em;
      }
      h2 {
        font-weight: 700;
        font-size: 2em;
      }
    }
    .superman {
      height: 80%; 
      max-width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .widgets {
    width: 70%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 302px);
    justify-items: end;
    justify-content: end;
    position: relative;
    left: 30%;
    z-index: 100;
    .widget {
      transition: all 0.3s;
      &:hover {
        margin-bottom: 50px;
      }
    }
  }
  footer {
    background-color: orange;
    padding: 25px;
    #logo {
      position: relative;
      top: 25%;
      height: 50px;
    }
    .columns {
      align-items: center;
    }
    ul {
      list-style-type: none;
      a {
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .IndexPage {
    .logos {
      padding-top: 80px;
    }
  }
}